* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page {
  flex: 1 0 auto;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
}

._container {
  max-width: calc(1110px + 20px);
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --blue: #4985ff;
  --gray: #999999;
  --light-gray: #f6f6f8;
}


/* ******Секция promo****** */
.promo {
  padding: 308px 0 335px;
  background-image: url("../img/promo/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.promo__inner > *:last-child {
  margin-bottom: 0;
}

.promo__subtitle {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.promo_title {
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

/* ******Секция features****** */
.features {
  padding: 105px 0 105px;
}

.features__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  max-width: 750px;
  margin-bottom: 35px;
  text-align: center;
  color: #323232;
}

.features__text {
  max-width: 750px;
  margin-bottom: 63px;
  text-align: center;
  color: #999999;
}

.features__items {
  width: 100%;
  margin: 0 -13px 48px;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  flex: 0 0 33.33%;
  padding: 0 13px;
  list-style: none;
}

.item-features {
  display: flex;
}

.item-features::before {
  content: "";
  display: block;
  width: 110px;
  height: 110px;
  margin-right: 17px;
  flex-shrink: 0;
  background-image: url("../img/features/icon.svg");
}

.item-features__content {
  padding-top: 46px;
}

.item-features__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.item-features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

/* ******Секция about****** */
.about {
  padding: 97px 0 61px;
  padding-top: 97px;
  padding-bottom: calc(61px - 30px);
  background-color: var(--light-gray);
}

.about__header {
  display: flex;
  padding-bottom: 73px;
}

.about__header::after {
  content: "";
  display: block;
  width: 520px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 10px;
  background-image: url("../img/about/picture.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__header-text {
  padding: 52px 121px 53px 0;
}

.about__title {
  margin-bottom: 23px;
  color: #323232;
}

.about__text {
  margin-bottom: 25px;
  color: #999999;
}

.about__footer {
  padding-top: 68px;
  border-top: 1px solid #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-data-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1020px;
  width: 100%;
  margin: 0 -50px;
  list-style: none;
}

.about-data-item {
  padding: 0 50px;
  margin-bottom: 30px;
}

.item-data__number {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.item-data__number::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transform: translateY(2px);
  background-image: url("../img/about/statistics-icon.svg");
}

.item-data__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

/* ******Секция specializations****** */
.specializations {
  padding: 97px 0 85px;
}

.specializations__header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.specializations__title {
  max-width: 550px;
}

.specializations__link {
  margin-left: auto;
  margin-top: 23px;
}

.specializations__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 2px solid var(--light-gray);
}

.specializations__item {
  flex: 0 0 33.33%;
  padding: 0 15px;
  margin-bottom: 85px;
}

.specializations__item::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 85%;
  background-image: url("../img/specializations/picture.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.item-specialization__content {
  padding-top: 40px;
}

.item-specialization__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.item-specialization__title span {
  color: var(--blue);
}

.item-specialization__text {
  margin-bottom: 25px;
}

/* ******Секция our-projects****** */
.our-projects {
  padding: 100px 0 130px;
  background-color: var(--light-gray);
}

.our-projects__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-projects__inner > *:last-child {
  margin-bottom: 0;
}

.our-projects__title {
  margin-bottom: 33px;
  text-align: center;
  color: #000000;
}

.our-projects__text {
  margin-bottom: 65px;
  max-width: 750px;
  text-align: center;
  color: #999999;
}

.our-projects__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 48px;
  width: 100%;
}

.our-projects__item {
  flex: 0 0 25%;
  padding: 0 15px;
  list-style: none;
}

.our-projects__item img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

/* ******Секция footer****** */
.footer {
  padding: 70px 0 30px;
}

.footer__header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  width: 100%;
}

.footer__col {
  flex: 0 0 25%;
  padding: 0 16px;
}

.col-footer__title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.col-footer__items {
  margin-bottom: 63px;
  list-style: none;
}

.col-footer__item {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.col-footer__item:last-child {
  margin-bottom: 0;
}

.col-footer__item a::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 6px;
  margin-right: 12px;
  background-image: url("../img/footer/arrow-icon.svg");
  background-repeat: no-repeat;
}

.col-footer__item a {
  text-decoration: none;
  color: inherit;
}

.col-footer__item--mail::before {
  content: "";
  transform: translateY(4px);
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 15px;
  background-image: url("../img/footer/mail-icon.svg");
  background-repeat: no-repeat;
}

.col-footer__item--phone::before {
  content: "";
  transform: translateY(4px);
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 15px;
  background-image: url("../img/footer/phone-icon.svg");
  background-repeat: no-repeat;
}

.col-footer__item--address::before {
  content: "";
  transform: translateY(2px);
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 15px;
  background-image: url("../img/footer/address-icon.svg");
  background-repeat: no-repeat;
}

.footer__footer {
  padding-top: 28px;
  border-top: 1px solid #e0e0e0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

/* ******Переиспользуемые элементы****** */
.big-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  min-width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: var(--blue);
  border-radius: 30px;
}

.small-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--blue);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
