* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page {
  flex: 1 0 auto;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
}

._container {
  max-width: calc(1110px + 20px);
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --blue: #4985ff;
  --gray: #999999;
  --light-gray: #f6f6f8;
}


/* ******Секция promo****** */
.promo {
  padding: 308px 0 335px;
  background-image: url("../img/promo/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.promo__inner > *:last-child {
  margin-bottom: 0;
}

.promo__subtitle {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.promo_title {
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

/* ******Секция features****** */
.features {
  padding: 105px 0 105px;
}

.features__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  max-width: 750px;
  margin-bottom: 35px;
  text-align: center;
  color: #323232;
}

.features__text {
  max-width: 750px;
  margin-bottom: 63px;
  text-align: center;
  color: #999999;
}

.features__items {
  width: 100%;
  margin: 0 -13px 48px;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  flex: 0 0 33.33%;
  padding: 0 13px;
  list-style: none;
}

.item-features {
  position: relative;
  display: flex;
}

.item-features::before {
  content: "";
  display: block;
  width: 110px;
  height: 110px;
  margin-right: 17px;
  flex-shrink: 0;
  background-image: url("../img/features/icon.svg");
}

.item-features__content {
  padding-top: 46px;
}

.item-features__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.item-features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

/* ******Секция our-projects****** */
.our-projects {
  padding: 100px 0 130px;
  background-color: var(--light-gray);
}

.our-projects__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-projects__inner > *:last-child {
  margin-bottom: 0;
}

.our-projects__title {
  margin-bottom: 33px;
  text-align: center;
  color: #000000;
}

.our-projects__text {
  margin-bottom: 65px;
  max-width: 750px;
  text-align: center;
  color: #999999;
}

.our-projects__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 48px;
}

.our-projects__item {
  flex: 0 0 25%;
  padding: 0 15px;
  list-style: none;
}

.our-projects__item img {
  display: block;
  width: 100%;
}

/* ******Переиспользуемые элементы****** */
.big-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  min-width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: var(--blue);
  border-radius: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
